body {
	margin-bottom: 70px;
}

div.banner {
	width: cover;
	height: 683px;
	background: url("img/benfrank.jpg") no-repeat center center fixed;
	background-size: cover;
	background-position: auto; 
}

.banner a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding: 14px 16px;
}

.title {
	font-size: 48px;
	line-height: 650px;
	color: white;
}

.title:hover {
	color: white;
}

h1 {
    text-align: center;
    text-decoration: none;
}

.photo {
    width: 40%;
    display: block;
	margin: 0 auto;
    border-style: solid black;
}

.contact-text{
    margin: 20px auto;
    width: 80%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#button-color{
    background-color: skyblue;
    width: 98%;
}

.entry-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.wrapper {
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    top: 0;
}

.block {
	width: 33.33%;
	float: left;
}

.block a {
	display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    border: 1px solid grey;
    text-decoration: none; 
}

.block a:hover {
	color: red;
}


a:hover, a:link {
	text-decoration: none;
}

#active {
	background-color: red;
}

#active a {
	color: white;
}

#fname{
    width: 98%;
}

#lname{
    width: 98%;
}

#ename{
    width: 98%;
}

/*--------------------------- FOOTER CSS-----------------------------*/

footer {
	position: fixed;
	bottom:0;
	width: 100%;
	height: 50px;
	background-color: red;
	text-align: center;
	box-shadow: 0 0 10px black; 
}

footer p {
	display: inline-block;
	color: white;
	margin-right: 10px;
}

footer div {
	margin: 10px;
	background-color: blue;
	width: 150px;
	height: 30px;
	border-radius: 5%;
	display: inline-block;
}

.phone-btn a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 14px 16px;
	line-height: 5px;
	display: block;
	color: white;
}

@media all and (max-width: 480px) {
	body {
		margin-bottom: 100px;
	}

	.photo {
		width: 70%;
	}

	.title {
		font-size: 32px;
	}
	.wrapper {
		width: 100%; 
	}

	.block {
		float: none;
		width: 100%;
	}

	.benfranksmall {
		display: none;
	}

	footer {
		height: 80px;
	}

  	footer p {
	  display: block;
	  margin: 10px 0 0;
	  }

  	footer div {
	  margin-bottom: 20px;
    }
}

@media all and (min-width: 481px) and (max-width: 991px) {
	.title {
		font-size: 26px;
	}

	body {
		margin-bottom: 100px;
	}

	.photo {
		width: 60%;
	}

	.wrapper {
		width: 100%; 
	}

	.block {
		float: left;
	}

	.benfranksmall {
		display: none;
	} 
}

@media all and (min-width: 992px) {
	.wrapper {
		width: 100%; 
	}

	.block {
		float: left;
	}

	.benfranksmall {
		width: 100%;
	}
}	

